<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>


    <form action="{% url 'adds_discount__product' %}" enctype="multipart/form-data" method='post'>
        {% csrf_token %}
        <input type="text" name="pr_name" id="" placeholder="Name" required><br><br>
        <input type="text" name="pr_characters" placeholder="Characters" id="" required><br><br>
        <input type="file" name="pr_image" id="" required><br><br>
        <input type="number" name="pr_quantity" placeholder="Quantity" id="" required><br><br>
        <input type="number" name="pr_price" placeholder="Price" id="" required><br><br>
        <input type="number" name="pr_discount" placeholder="Discount" required><br><br>
        <select name="pr-category" id="" required><br><br>
            <option value="- - - - - - - - - "></option>
            
            {% for cat in cats %}
                <option value="{{cat.id}}">{{ cat.name }}</option>
            {% endfor %}
                
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>